*{
    margin: 0px;
    padding: 0px;
    
}
nav{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin-left: 55px;
    padding: 5px;
}
header{
    background-color: cadetblue;
    height: 30px;
}
#div_1{
    height: 50px;
    width: 70px;
    background-color: green;
    border-radius: 50%;
}
.containers{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-color: blue;
    margin: 5px;
}
#div_2{
    position: fixed;
    right: 10px;
}
#div_4{
    position: absolute;
    left: 10px;
    z-index: -1;
}
footer{
    position: fixed;
    bottom: 5px;

}