*{
    margin: 0px;
    padding: 0px;
}
.progress-container{
    width: 90%;
    height: 25px;
    background-color: gainsboro;
    margin-top: 5px;

    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    left: 10px;

}
.progress-bar{
    background-color: mediumorchid;
    height: 100%;
    border-radius: 20px;

    animation-name: progress;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;

}
@keyframes progress {
    0%{width: 0%}
    90%{width: 95%;}
    95%{width: 70%;} 
    100%{width: 100%} 
    
}